Repository openstack/ironic-inspector: changes, and which Zuul jobs are due for each by the changed paths.
All: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

ironic-inspector-base:
  description: Base job for devstack/tempest based ironic-inspector jobs.
  parent: ironic-base
  timeout: 10800
  required-projects:
  - openstack/ironic-inspector
  vars:
    tox_envlist: all
    tempest_test_regex: Inspector
    tempest_concurrency: 1
    tempest_test_timeout: 2400
    devstack_localrc:
  ...

ironic-inspector-tempest-managed-non-standalone:
  description: The boot is managed by ironic, ironic-inspector runs in non-standalone mode.
  parent: ironic-inspector-base
  vars:
    tempest_test_timeout: 3600
    devstack_localrc:
      BUILD_TIMEOUT: 3600
      IRONIC_BOOT_MODE: bios
      IRONIC_DEFAULT_BOOT_OPTION: netboot
  ...

ironic-inspector-tempest-discovery:
  description: ironic-inspector-tempest-discovery
  parent: ironic-inspector-base
  vars:
    tempest_test_regex: InspectorDiscoveryTest
    devstack_localrc:
      IRONIC_TEMPEST_WHOLE_DISK_IMAGE: true
      IRONIC_IPXE_ENABLED: true
      IRONIC_INSPECTOR_DHCP_FILTER: dnsmasq
  ...

ironic-inspector-tox-bandit:
  parent: openstack-tox
  timeout: 2400
  vars:
    tox_envlist: bandit
  required-projects:
  - openstack/ironic-inspector

ironic-inspector-grenade:
  parent: grenade
  timeout: 10800
  required-projects:
  - openstack/grenade
  - openstack/ironic
  - openstack/ironic-inspector
  - openstack/ironic-tempest-plugin
  - openstack/ironic-python-agent-builder
  - openstack/virtualbmc
  vars:
    grenade_devstack_localrc:
      shared:
        IRONIC_BOOT_MODE: bios
  ...

ironic-inspector-tempest-managed:
  parent: ironic-inspector-tempest-managed-non-standalone

ironic-inspector-dsvm-base:
  parent: legacy-dsvm-base
  required-projects:
  - openstack/ironic
  - openstack/ironic-inspector
  - openstack/ironic-lib
  - openstack/ironic-python-agent
  - openstack/ironic-tempest-plugin
  - openstack/pyghmi
  - openstack/python-ironic-inspector-client
  - openstack/python-ironicclient
  - openstack/virtualbmc

ironic-inspector-grenade-dsvm:
  parent: ironic-inspector-dsvm-base
  run: playbooks/legacy/ironic-inspector-grenade-dsvm/run.yaml
  post-run: playbooks/legacy/ironic-inspector-grenade-dsvm/post.yaml
  timeout: 10800
  required-projects:
  - openstack-dev/grenade

ironic-inspector-tempest-dsvm-discovery:
  parent: ironic-inspector-dsvm-base
  run: playbooks/legacy/ironic-inspector-tempest-dsvm-discovery/run.yaml
  post-run: playbooks/legacy/ironic-inspector-tempest-dsvm-discovery/post.yaml
  timeout: 10800

ironic-inspector-tempest-dsvm-python3:
  parent: ironic-inspector-dsvm-base
  run: playbooks/legacy/ironic-inspector-tempest-dsvm-python3/run.yaml
  post-run: playbooks/legacy/ironic-inspector-tempest-dsvm-python3/post.yaml
  timeout: 10800

Update TOX_CONSTRAINTS_FILE for stable/zed
  tox.ini
Due: none

Update master for stable/zed
  releasenotes/source/index.rst
  releasenotes/source/zed.rst
Due: none

Switch to 2023.1 Python3 unit tests and generic template name
  zuul.d/project.yaml
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Update release versions for yoga
  releasenotes/source/yoga.rst
Due: none

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

CI: Zuul no longer respects queue
  zuul.d/project.yaml
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Add missing space to configuration help message
  ironic_inspector/conf/processing.py
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

CI: Zuul no longer respects queue
  tools/test-setup.sh
  zuul.d/project.yaml
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

CI: Zuul no longer respects queue
  zuul.d/ironic-inspector-jobs.yaml
  zuul.d/project.yaml
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

CI: Various fixes
  zuul.d/project.yaml
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Imported Translations from Zanata
  ironic_inspector/locale/en_GB/LC_MESSAGES/ironic_inspector.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Remove unicode literal from code
  api-ref/source/conf.py
  doc/source/conf.py
  ironic_inspector/test/functional.py
  releasenotes/source/conf.py
Due: ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Fix port id vs uuid in ValidateInterfacesHook
  ironic_inspector/plugins/standard.py
  ironic_inspector/test/unit/test_plugins_standard.py
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Use port.id instead of port.uuid
  ironic_inspector/plugins/base_physnet.py
  ironic_inspector/plugins/local_link_connection.py
  ironic_inspector/test/unit/test_plugins_local_link_connection.py
  ironic_inspector/test/unit/test_plugins_physnet_cidr_map.py
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

CI: Various fixes
  tox.ini
  zuul.d/ironic-inspector-jobs.yaml
  zuul.d/project.yaml
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Update tox.ini for tox 4
  tox.ini
Due: none

[grenade] Explicitly enable Neutron ML2/OVS services in the CI job
  zuul.d/ironic-inspector-jobs.yaml
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Update .gitreview for bugfix/11.2
  .gitreview
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

[stable-only] Fixes for tox 4.0 compatability
  tox.ini
Due: none

Remove lib/neutron-legacy leftovers
  devstack/upgrade/upgrade.sh
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Fix tox4 and setuptools errors
  setup.py
  tox.ini
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Rename NodeInfo._lock to avoid conflict with Mock._lock in tests
  ironic_inspector/node_cache.py
  ironic_inspector/test/unit/test_introspect.py
  ironic_inspector/test/unit/test_node_cache.py
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

setup.py: Remove 'py_modules'
  setup.py
  tox.ini
  zuul.d/project.yaml
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Fix CI
  ironic_inspector/db.py
  ironic_inspector/test/unit/test_db.py
  ironic_inspector/test/unit/test_migrations.py
  tox.ini
  zuul.d/ironic-inspector-jobs.yaml
  zuul.d/project.yaml
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

CI: Various required fixes
  ironic_inspector/test/unit/test_migrations.py
  tox.ini
  zuul.d/ironic-inspector-jobs.yaml
  zuul.d/project.yaml
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Use new get_rpc_client API from oslo.messaging
  ironic_inspector/common/rpc.py
  requirements.txt
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Make reno ignore bugfix eol tags
  releasenotes/config.yaml
Due: none

Stop gating on unit test coverage
  tox.ini
Due: none

Path conditions:
  ironic-inspector-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic/tests/.*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^tools/.*$, ^test-requirements.txt$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-tempest-managed-non-standalone: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic/tests/.*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^tools/.*$, ^test-requirements.txt$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-tempest-discovery: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic/tests/.*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^tools/.*$, ^test-requirements.txt$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-tox-bandit: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^tools/(?!bandit\.yml).*$, ^test-requirements.txt$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-grenade: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-inspector-tempest-managed: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic/tests/.*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^tools/.*$, ^test-requirements.txt$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-dsvm-base: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-grenade-dsvm: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-tempest-dsvm-discovery: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-tempest-dsvm-python3: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
