Repository openstack/ironic-inspector: changes, and which Zuul jobs are due for each by the changed paths.
All: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Path conditions:
  ironic-inspector-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic/tests/.*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^tools/.*$, ^test-requirements.txt$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-tempest-managed-non-standalone: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic/tests/.*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^tools/.*$, ^test-requirements.txt$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-tempest-discovery: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic/tests/.*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^tools/.*$, ^test-requirements.txt$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-tox-bandit: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^tools/(?!bandit\.yml).*$, ^test-requirements.txt$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-grenade: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-inspector-tempest-managed: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic/tests/.*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^tools/.*$, ^test-requirements.txt$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-dsvm-base: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-grenade-dsvm: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-tempest-dsvm-discovery: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-tempest-dsvm-python3: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$

Make reno ignore bugfix eol tags
  releasenotes/config.yaml
Due: none

Remove reno job and fix CI
  tox.ini
  zuul.d/project.yaml
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Remove reno job and cap tox to version lower than 4
  tox.ini
  zuul.d/project.yaml
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Update .gitreview for bugfix/11.3
  .gitreview
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
Due: none

[zed-only] Fix functional tests
  ironic_inspector/test/functional.py
Due: none

Use UTC for the timezone in functional tests
  ironic_inspector/test/functional.py
Due: none

Update .gitreview for stable/2023.1
  .gitreview
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Update TOX_CONSTRAINTS_FILE for stable/2023.1
  tox.ini
Due: none

Update master for stable/2023.1
  releasenotes/source/2023.1.rst
  releasenotes/source/index.rst
Due: none

tests: Replace assertItemsEqual with assertCountEqual
  ironic_inspector/test/unit/db/test_api.py
Due: none

Upgrade to latest hacking - v6
  tox.ini
Due: none

Support LLDP data coming in the new field
  ironic_inspector/plugins/lldp_basic.py
  ironic_inspector/plugins/local_link_connection.py
  ironic_inspector/test/unit/test_plugins_lldp_basic.py
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Update .gitreview for bugfix/11.5
  .gitreview
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Add python3.10 support in testing runtime
  setup.cfg
Due: none

tox: Remove basepython
  tox.ini
Due: none

Update .gitreview for bugfix/11.6
  .gitreview
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

docs: fix typo
  doc/source/user/usage.rst
Due: none

Handle bracketed IPv6 redfish_address
  ironic_inspector/common/ironic.py
  ironic_inspector/test/unit/test_common_ironic.py
  releasenotes/notes/bug-2036455-bd3f6381b78c20db.yaml
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Update the project status and move broken jobs to experimental
  releasenotes/notes/project-status-4ce6dc06e8b8a0d1.yaml
  zuul.d/ironic-inspector-jobs.yaml
  zuul.d/project.yaml
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Fix bindep for debian bookworm for py3.11
  bindep.txt
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

CI: re-add genade job to normal CI queues
  zuul.d/project.yaml
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Update .gitreview for stable/2023.2
  .gitreview
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Update TOX_CONSTRAINTS_FILE for stable/2023.2
  tox.ini
Due: none

Update master for stable/2023.2
  releasenotes/source/2023.2.rst
  releasenotes/source/index.rst
Due: none

Fix python shebang
  tools/states_to_dot.py
Due: ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

SQLAlchemy 2.0 - Fix items lost in migration
  ironic_inspector/db/__init__.py
  ironic_inspector/db/migrations/versions/882b2d84cb1b_attribute_constraints_relaxing.py
  ironic_inspector/db/migrations/versions/d00d6e3f38c4_change_created_finished_at_type.py
  ironic_inspector/test/unit/db/test_migrations.py
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

[CI] Add sqlalchemy 2.0 unit testing
  zuul.d/ironic-inspector-jobs.yaml
  zuul.d/project.yaml
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3
