Repository openstack/ironic-inspector: changes, and which Zuul jobs are due for each by the changed paths.
All: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Path conditions:
  ironic-inspector-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^tools/.*$, ^test-requirements.txt$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-non-standalone-tempest: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^tools/.*$, ^test-requirements.txt$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-tempest-discovery: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^tools/.*$, ^test-requirements.txt$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-tempest-managed: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^tools/.*$, ^test-requirements.txt$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-tox-bandit: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^tools/(?!bandit\.yml).*$, ^test-requirements.txt$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-dsvm-base: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-grenade-dsvm: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-tempest-dsvm-discovery: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-tempest-dsvm-python3: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$

Relax extra_hardware data validation by default
  ironic_inspector/conf/__init__.py
  ironic_inspector/conf/extra_hardware.py
  ironic_inspector/conf/opts.py
  ironic_inspector/plugins/extra_hardware.py
  ironic_inspector/test/unit/test_plugins_extra_hardware.py
  releasenotes/notes/extra-check-9cf0a7d89e534ccd.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Add public api support to basic auth
  ironic_inspector/test/unit/test_main.py
  ironic_inspector/utils.py
  releasenotes/notes/http-basic-public-api-2cf0e206bea4b34e.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Configure dsvm jobs for the bugfix branch
  zuul.d/ironic-inspector-jobs.yaml
  zuul.d/project.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Listen on :: by default
  api-ref/source/index.rst
  devstack/plugin.sh
  ironic_inspector/conf/default.py
  releasenotes/notes/listen-v6-effec95455e900f8.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Normalize formatting in the API versions reference
  api-ref/source/introspection-api-versions.inc
Due: ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Log outcome of `check_conditions` method.
  ironic_inspector/rules.py
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Fix requirements job
  requirements.txt
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Update .gitreview for bugfix/10.3
  .gitreview
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Update TOX_CONSTRAINTS_FILE for bugfix/10.3
  tox.ini
Due: none

Fix URL parsing to enable redfish_address matching
  ironic_inspector/common/ironic.py
  ironic_inspector/conf/default.py
  ironic_inspector/test/unit/test_common_ironic.py
  releasenotes/notes/support_redfish_address-94eae2c0d2879f53.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Minor doc fix to kernel options
  doc/source/install/index.rst
Due: none

Replace retrying with tenacity
  ironic_inspector/common/ironic.py
  lower-constraints.txt
  requirements.txt
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Correct the constraints link in tox.ini
  tox.ini
Due: none

Identify accelerator devices during introspection
  doc/source/user/usage.rst
  ironic_inspector/conf/__init__.py
  ironic_inspector/conf/accelerators.py
  ironic_inspector/known_accelerators.yaml
  ironic_inspector/plugins/accel_device.py
  ironic_inspector/test/unit/test_plugins_accel_device.py
  releasenotes/notes/accelerators-2aa4f0cedf359810.yaml
  requirements.txt
  setup.cfg
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Power off before inspection
  ironic_inspector/common/ironic.py
  ironic_inspector/conf/default.py
  ironic_inspector/introspect.py
  ironic_inspector/test/unit/test_common_ironic.py
  ironic_inspector/test/unit/test_introspect.py
  releasenotes/notes/power-off-before-performing-explicit-introspection-bb1b4b584cdcda12.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Fix l-c and mysql GRANT syntex for Ubuntu Focal
  lower-constraints.txt
  requirements.txt
  tools/test-setup.sh
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Add NVIDIA V100 to known accelerator devices
  ironic_inspector/known_accelerators.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Limit inspector jobs to 1 testing VM
  zuul.d/ironic-inspector-jobs.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Correct the docstring for _should_enable_unknown_hosts
  ironic_inspector/pxe_filter/dnsmasq.py
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

pxe filter - option to always block unknown hosts
  ironic_inspector/conf/iptables.py
  ironic_inspector/conf/pxe_filter.py
  ironic_inspector/pxe_filter/base.py
  ironic_inspector/pxe_filter/dnsmasq.py
  ironic_inspector/pxe_filter/iptables.py
  ironic_inspector/test/unit/test_dnsmasq_pxe_filter.py
  ironic_inspector/test/unit/test_iptables.py
  ironic_inspector/test/unit/test_pxe_filter.py
  releasenotes/notes/dnsmasq-pxe-filter-eoib-mac-support-7567bbc7c6bf1878.yaml
  releasenotes/notes/pxe-filter-add-deny-unknown-host-option-b84b2aa1f7f49a17.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Revert "Power off before inspection"
  ironic_inspector/common/ironic.py
  ironic_inspector/conf/default.py
  ironic_inspector/introspect.py
  ironic_inspector/test/unit/test_common_ironic.py
  ironic_inspector/test/unit/test_introspect.py
  releasenotes/notes/power-off-before-performing-explicit-introspection-bb1b4b584cdcda12.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Update .gitreview for stable/victoria
  .gitreview
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Update TOX_CONSTRAINTS_FILE for stable/victoria
  tox.ini
Due: none

Update master for stable/victoria
  releasenotes/source/index.rst
  releasenotes/source/victoria.rst
Due: none

Add Python3 wallaby unit tests
  zuul.d/project.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

[DOC] Add note regarding ``[pxe_filter]deny_unknown_macs``
  doc/source/user/usage.rst
Due: none

Use direct as IRONIC_DEFAULT_DEPLOY_INTERFACE for grenade
  zuul.d/ironic-inspector-jobs.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Imported Translations from Zanata
  ironic_inspector/locale/en_GB/LC_MESSAGES/ironic_inspector.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

use py38 for functional tests
  tox.ini
  zuul.d/project.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Replaced openstack baremetal to baremetal in the documentation Changed osc_plugin_cli.html to index.html
  CONTRIBUTING.rst
  doc/source/user/usage.rst
  doc/source/user/workflow.rst
Due: none

Set safe version of hacking
  test-requirements.txt
Due: none

Fix database migrations and disable the non-standalone job
  ironic_inspector/migrations/versions/882b2d84cb1b_attribute_constraints_relaxing.py
  ironic_inspector/migrations/versions/d00d6e3f38c4_change_created_finished_at_type.py
  releasenotes/notes/migrations-1.3.20-0d337d000bd0a7e0.yaml
  zuul.d/project.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Run bifrost integration job on focal
  zuul.d/project.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Re-enable ironic-inspector-tempest-managed-non-standalone job
  zuul.d/project.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Use TOX_CONSTRAINTS_FILE
  tox.ini
Due: none

Remove unicode quotes from tox.ini
  tox.ini
Due: none
