Repository openstack/ironic-inspector: changes, and which Zuul jobs are due for each by the changed paths.
All: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

ironic-inspector-base:
  description: Base job for devstack/tempest based ironic-inspector jobs.
  parent: ironic-base
  timeout: 10800
  required-projects:
  - openstack/ironic-inspector
  vars:
    tox_envlist: all
    tempest_test_regex: Inspector
    tempest_concurrency: 1
    tempest_test_timeout: 2400
    devstack_localrc:
  ...

ironic-inspector-tempest-managed-non-standalone:
  description: The boot is managed by ironic, ironic-inspector runs in non-standalone mode.
  parent: ironic-inspector-base
  vars:
    tempest_test_timeout: 3600
    devstack_localrc:
      BUILD_TIMEOUT: 3600
      IRONIC_BOOT_MODE: bios
      IRONIC_DEFAULT_BOOT_OPTION: netboot
  ...

ironic-inspector-tempest-discovery:
  description: ironic-inspector-tempest-discovery
  parent: ironic-inspector-base
  vars:
    tempest_test_regex: InspectorDiscoveryTest
    devstack_localrc:
      IRONIC_TEMPEST_WHOLE_DISK_IMAGE: true
      IRONIC_IPXE_ENABLED: true
      IRONIC_INSPECTOR_DHCP_FILTER: dnsmasq
  ...

ironic-inspector-tox-bandit:
  parent: openstack-tox
  timeout: 2400
  vars:
    tox_envlist: bandit
  required-projects:
  - openstack/ironic-inspector

ironic-inspector-grenade:
  parent: grenade
  timeout: 10800
  required-projects:
  - openstack/grenade
  - openstack/ironic
  - openstack/ironic-inspector
  - openstack/ironic-tempest-plugin
  - openstack/ironic-python-agent-builder
  - openstack/virtualbmc
  vars:
    grenade_devstack_localrc:
      shared:
        IRONIC_BOOT_MODE: bios
  ...

ironic-inspector-tempest-managed:
  parent: ironic-inspector-tempest-managed-non-standalone

ironic-inspector-dsvm-base:
  parent: legacy-dsvm-base
  required-projects:
  - openstack/ironic
  - openstack/ironic-inspector
  - openstack/ironic-lib
  - openstack/ironic-python-agent
  - openstack/ironic-tempest-plugin
  - openstack/pyghmi
  - openstack/python-ironic-inspector-client
  - openstack/python-ironicclient
  - openstack/virtualbmc

ironic-inspector-grenade-dsvm:
  parent: ironic-inspector-dsvm-base
  run: playbooks/legacy/ironic-inspector-grenade-dsvm/run.yaml
  post-run: playbooks/legacy/ironic-inspector-grenade-dsvm/post.yaml
  timeout: 10800
  required-projects:
  - openstack-dev/grenade

ironic-inspector-tempest-dsvm-discovery:
  parent: ironic-inspector-dsvm-base
  run: playbooks/legacy/ironic-inspector-tempest-dsvm-discovery/run.yaml
  post-run: playbooks/legacy/ironic-inspector-tempest-dsvm-discovery/post.yaml
  timeout: 10800

ironic-inspector-tempest-dsvm-python3:
  parent: ironic-inspector-dsvm-base
  run: playbooks/legacy/ironic-inspector-tempest-dsvm-python3/run.yaml
  post-run: playbooks/legacy/ironic-inspector-tempest-dsvm-python3/post.yaml
  timeout: 10800

Drop before_first_request usage of Flask app
  ironic_inspector/main.py
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Update .gitreview for bugfix/11.8
  .gitreview
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

[coordination] backend_url should be secret
  ironic_inspector/conf/coordination.py
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Suppress logs from stevedore
  ironic_inspector/conf/opts.py
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Fix versions in release notes
  releasenotes/source/2023.1.rst
  releasenotes/source/2023.2.rst
  releasenotes/source/zed.rst
Due: none

Handle LLDP parse Unicode error
  ironic_inspector/plugins/lldp_basic.py
  releasenotes/notes/fix-lldp-decode-83f4ad3869b0c7a7.yaml
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Fix RBAC access for service/admin user access
  ironic_inspector/policy.py
  ironic_inspector/test/unit/test_acl.py
  releasenotes/notes/role-service-for-openstack-rbac-changes-7ca8533f76e504d5.yaml
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Update python classifier in setup.cfg
  setup.cfg
Due: none

[codespell] Fixing Spelling Mistakes
  ironic_inspector/common/lldp_tlvs.py
  ironic_inspector/common/swift.py
  ironic_inspector/db/api.py
  ironic_inspector/db/migrations/versions/18440d0834af_introducing_the_aborting_state.py
  ironic_inspector/main.py
  ironic_inspector/node_cache.py
  ironic_inspector/plugins/local_link_connection.py
  ironic_inspector/policy.py
  ironic_inspector/test/unit/test_introspect.py
  releasenotes/notes/accelerators-2aa4f0cedf359810.yaml
  releasenotes/notes/extra-check-9cf0a7d89e534ccd.yaml
  releasenotes/notes/keystoneauth-plugins-aab6cbe1d0e884bf.yaml
  releasenotes/notes/policy-engine-c44828e3131e6c62.yaml
  releasenotes/notes/pxe-filter-add-deny-unknown-host-option-b84b2aa1f7f49a17.yaml
  releasenotes/notes/role-service-for-openstack-rbac-changes-7ca8533f76e504d5.yaml
  releasenotes/notes/sqlalchemy-minimum-version-cd34a2e10d7946fd.yaml
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

[codespell] Adding Tox Target for Codespell
  setup.cfg
  tox.ini
Due: none

[codespell] Adding CI target for Tox Codespell
  zuul.d/ironic-inspector-jobs.yaml
  zuul.d/project.yaml
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Change policy to enforce only new policy
  devstack/plugin.sh
  ironic_inspector/policy.py
  releasenotes/notes/legacy-rbac-policy-disabled-6fc45ad1237f4d57.yaml
  zuul.d/ironic-inspector-jobs.yaml
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Remove dependency on pytz
  ironic_inspector/test/functional.py
  ironic_inspector/utils.py
  requirements.txt
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Bump hacking to 6.1.0
  tox.ini
Due: none

Remove commenct lines for old openstackdocstheme
  doc/source/conf.py
Due: none

Update .gitreview for bugfix/12.0
  .gitreview
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Ignore generated config/policy file
  .gitignore
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Update .gitreview for unmaintained/yoga
  .gitreview
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

reno: Update master for unmaintained/yoga
  releasenotes/source/yoga.rst
Due: none

Force constraints when installing a package during tox test
  tox.ini
Due: none

Update bug tracker url
  README.rst
Due: none

Update regex to detect closed branch
  releasenotes/config.yaml
Due: none

Update .gitreview for unmaintained/victoria
  .gitreview
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

reno: Update master for unmaintained/victoria
  releasenotes/source/victoria.rst
Due: none

Update .gitreview for unmaintained/wallaby
  .gitreview
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

reno: Update master for unmaintained/wallaby
  releasenotes/source/wallaby.rst
Due: none

Update .gitreview for unmaintained/xena
  .gitreview
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

reno: Update master for unmaintained/xena
  releasenotes/source/xena.rst
Due: none

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Update .gitreview for stable/2024.1
  .gitreview
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Update TOX_CONSTRAINTS_FILE for stable/2024.1
  tox.ini
Due: none

Update master for stable/2024.1
  releasenotes/source/2024.1.rst
  releasenotes/source/index.rst
Due: none

Use the new microversion-parse library to parse the version headers
  ironic_inspector/main.py
  requirements.txt
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Remove SQLAlchemy tips jobs
  zuul.d/ironic-inspector-jobs.yaml
  zuul.d/project.yaml
Due: ironic-inspector-base, ironic-inspector-tempest-managed-non-standalone, ironic-inspector-tempest-discovery, ironic-inspector-tox-bandit, ironic-inspector-grenade, ironic-inspector-tempest-managed, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Follow-up: Use ``microversion-parse`` to parse version headers in API requests
  api-ref/source/introspection-api-versions.inc
  ironic_inspector/test/unit/test_main.py
  releasenotes/notes/parse-headers-with-the-microversion-parse-library-1b655eb52998f1df.yaml
Due: ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Path conditions:
  ironic-inspector-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic/tests/.*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^tools/.*$, ^test-requirements.txt$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-tempest-managed-non-standalone: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic/tests/.*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^tools/.*$, ^test-requirements.txt$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-tempest-discovery: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic/tests/.*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^tools/.*$, ^test-requirements.txt$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-tox-bandit: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^tools/(?!bandit\.yml).*$, ^test-requirements.txt$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-grenade: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  ironic-inspector-tempest-managed: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic/tests/.*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^tools/.*$, ^test-requirements.txt$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-dsvm-base: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-grenade-dsvm: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-tempest-dsvm-discovery: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-tempest-dsvm-python3: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
