Repository openstack/ironic-inspector: changes, and which Zuul jobs are due for each by the changed paths.
All: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Path conditions:
  ironic-inspector-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^tools/.*$, ^test-requirements.txt$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-non-standalone-tempest: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^tools/.*$, ^test-requirements.txt$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-tempest-discovery: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^tools/.*$, ^test-requirements.txt$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-tempest-managed: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^tools/.*$, ^test-requirements.txt$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-tox-bandit: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^tools/(?!bandit\.yml).*$, ^test-requirements.txt$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-dsvm-base: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-grenade-dsvm: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-tempest-dsvm-discovery: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$
  ironic-inspector-tempest-dsvm-python3: unless all of: ^test-requirements.txt$, ^.*\.rst$, ^doc/.*$, ^ironic_inspector/test/(?!.*tempest).*$, ^ironic_inspector/locale/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$

Set default timeouts for ironic inspector base job
  zuul.d/ironic-inspector-jobs.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Update lower-constraints.txt
  lower-constraints.txt
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Remove introspection timeout option
  zuul.d/ironic-inspector-jobs.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Enable Basic HTTP authentication middleware.
  ironic_inspector/conf/default.py
  ironic_inspector/main.py
  ironic_inspector/test/unit/test_main.py
  ironic_inspector/test/unit/test_utils.py
  ironic_inspector/test/unit/test_wsgi_service.py
  ironic_inspector/utils.py
  lower-constraints.txt
  releasenotes/notes/http-basic-auth-fbe1da9669f5388c.yaml
  requirements.txt
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

[doc] Add misconfigured BMC channel to trouble shooting guide
  doc/source/user/troubleshooting.rst
Due: none

Use unittest.mock instead of mock
  ironic_inspector/test/unit/test_plugins_base_physnet.py
  ironic_inspector/test/unit/test_plugins_physnet_cidr_map.py
  lower-constraints.txt
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Update doc for multi-arch x86
  doc/source/install/index.rst
Due: none

devstack: Use uwsgi binary from path; temporary disable grenade
  devstack/plugin.sh
  zuul.d/project.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

CI: make grenade voting again
  zuul.d/project.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Remove cimc_address from address field list
  ironic_inspector/conf/default.py
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Accept IPv6 link local address during interface validation
  ironic_inspector/plugins/standard.py
  ironic_inspector/test/unit/test_plugins_standard.py
  releasenotes/notes/accept-link-local-address-1fbb9cbdc3f980bb.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Imported Translations from Zanata
  ironic_inspector/locale/en_GB/LC_MESSAGES/ironic_inspector.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Merge jobs
  zuul.d/ironic-inspector-jobs.yaml
  zuul.d/project.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Fix incorrect pxe-enabled was set during introspection
  ironic_inspector/conf/processing.py
  ironic_inspector/plugins/standard.py
  ironic_inspector/test/functional.py
  releasenotes/notes/pxe-enabled-for-pxe-a199e81128557bc0.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Document [ironic] auth options for inspector
  doc/source/install/index.rst
  lower-constraints.txt
  requirements.txt
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Allow setting other fields on discovery
  doc/source/user/usage.rst
  ironic_inspector/conf/discovery.py
  ironic_inspector/plugins/discovery.py
  ironic_inspector/test/unit/test_plugins_discovery.py
  releasenotes/notes/enroll-node-fields-3f4e22213fd90307.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Allow operators to disable clean_up sync
  ironic_inspector/conductor/manager.py
  ironic_inspector/conf/default.py
  releasenotes/notes/ability-to-turn-off-periodic-sync-5309ff2aa8a9ec14.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Follow up to incorrect pxe-enabled was set
  ironic_inspector/node_cache.py
  ironic_inspector/test/functional.py
  ironic_inspector/test/unit/test_node_cache.py
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Add leader election for periodic sync with ironic
  ironic_inspector/common/coordination.py
  ironic_inspector/conductor/manager.py
  ironic_inspector/conf/default.py
  ironic_inspector/test/unit/test_manager.py
  releasenotes/notes/leader-election-c6692d9962f30ad1.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Prepare release notes for release 10.2
  releasenotes/notes/accept-link-local-address-1fbb9cbdc3f980bb.yaml
  releasenotes/notes/http-basic-auth-fbe1da9669f5388c.yaml
Due: none

Use node.id instead of node.uuid in record_node
  ironic_inspector/node_cache.py
  ironic_inspector/test/unit/test_node_cache.py
  releasenotes/notes/node-id-920629472f01c83a.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Add release version to release notes
  releasenotes/source/train.rst
  releasenotes/source/ussuri.rst
Due: none

Update .gitreview for bugfix/10.2
  .gitreview
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Update TOX_CONSTRAINTS_FILE for bugfix/10.2
  tox.ini
Due: none

Remove non-inclusive language in pxe filter
  CONTRIBUTING.rst
  doc/source/admin/dnsmasq-pxe-filter.rst
  ironic_inspector/pxe_filter/dnsmasq.py
  ironic_inspector/pxe_filter/iptables.py
  ironic_inspector/test/unit/test_dnsmasq_pxe_filter.py
  ironic_inspector/test/unit/test_iptables.py
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Do not try to set local_gb to -1 when the matched root device size is 0
  ironic_inspector/plugins/standard.py
  ironic_inspector/test/unit/test_plugins_standard.py
  releasenotes/notes/zero-size-55c4b4f2b9e8384d.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Make inspector base CI job use 2 CPUs
  zuul.d/ironic-inspector-jobs.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Set min version of tox to 3.2.1
  tox.ini
Due: none

Respond so Apache HTTPd doesn't think the request failed
  ironic_inspector/introspect.py
  ironic_inspector/main.py
  ironic_inspector/node_cache.py
  ironic_inspector/test/functional.py
  ironic_inspector/test/unit/test_main.py
  lower-constraints.txt
  releasenotes/notes/reply-with-content-type-644b741261c87c8c.yaml
  requirements.txt
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Add public api support to basic auth
  ironic_inspector/test/unit/test_main.py
  ironic_inspector/utils.py
  releasenotes/notes/http-basic-public-api-2cf0e206bea4b34e.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Add variable to set inspection timeout in tempest tests
  devstack/plugin.sh
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Add support for retrieving unprocessed data
  api-ref/source/introspection-api-v1-introspection-management.inc
  doc/source/user/http-api.rst
  ironic_inspector/main.py
  ironic_inspector/test/functional.py
  ironic_inspector/test/unit/test_main.py
  releasenotes/notes/unprocessed-07842e56eb60e253.yaml
Due: ironic-inspector-base, ironic-inspector-non-standalone-tempest, ironic-inspector-tempest-discovery, ironic-inspector-tempest-managed, ironic-inspector-tox-bandit, ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

Remove built-in API documentation in favour of API-REF
  api-ref/source/index.rst
  api-ref/source/introspection-api-v1-continue.inc
  api-ref/source/introspection-api-versions.inc
  api-ref/source/parameters.yaml
  doc/source/user/http-api.rst
  doc/source/user/index.rst
  doc/source/user/usage.rst
  doc/source/user/workflow.rst
Due: ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3

CI: run doc8 on api-ref
  api-ref/source/introspection-api-versions.inc
  api-ref/source/parameters.yaml
  tox.ini
Due: ironic-inspector-dsvm-base, ironic-inspector-grenade-dsvm, ironic-inspector-tempest-dsvm-discovery, ironic-inspector-tempest-dsvm-python3
